@charset "UTF-8";
/*设置统一样式*/
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
}
ul {
    list-style: none;
}

a{
    text-decoration: none;
}
/*****************顶部搜索栏***************/
.top{
    width: 100%;
    height: 89px;
}
.top-bar{
    width: 100%;
    height: 44.8px;
    background: #f6f6f6;
    z-index: 101;
}
.top-bar-w{
    width: 100%;
    color: #212121;
    height: 32px;
    line-height: 32px;
    padding: 6px 0;
    display: -webkit-box;
    position: relative;
    border-bottom: 1px solid #dbdbdb;
}
.top-bar-c{
    -webkit-box-flex: 1;
    margin: 0 8px;
}
.top-bar-input{
    display: -webkit-box;
    height: 32px;
    background: #e3e3e5;
    -webkit-border-radius: 4px;
}
.input-left-tab{

}
.input-left-tab .input-left-tab-txt{
    width: 56px;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    color: #999;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
.input-left-tab .input-left-tab-txt .triangle{
    content: '';
    position: absolute;
    width: 6px;
    height: 3px;
    background-repeat: no-repeat;
    background-image: url("../img/search/triangle.png");
    background-size: 6px 3px;
    top: 20px;
    left: 50px;
}
.input-left-tab .input-left-tab-nav{
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 101;
    padding: 10px;
}
#input-nav{
    display: none;
}
.input-left-tab .input-left-tab-nav ul{
    background: #484d50;
    border-radius: 6px;
    width: 140px;
    overflow: hidden;

}
.input-left-tab .input-left-tab-nav ul li{
    border-top: 1px solid #707476;
    margin-top: -1px;
    height: 35px;
    line-height: 35px;
    list-style: none;
}
.input-left-tab .input-left-tab-nav ul li a{
    color: #c7c8c9;
}
.input-left-tab .input-left-tab-nav ul li a span{
    width: 20px;
    height: 22px;
}
.icon{
    display: inline-block;
    margin: auto 8px -8px 8px;
    position: relative;
    top: -3px;
    background: url("../img/search/icons.png");
    background-repeat: no-repeat;
    background-size: 106px 543px;
}
.icons-baobei{
    background-position: -3px -164px;
    width: 20px;
    height: 22px;
}
.icons-dianpu{
    background-position: -3px -243px;
    width: 21px;
    height: 19px;
}
.icons-tianmao{
    background-position: -3px -190px;
    width: 21px;
    height: 20px;
}

.input-right{
    -webkit-box-flex: 1;
    width: 100%;
    padding-right: 10px;
    line-height: 28px;
}
.input-right .input-right-input input{
    border: none;
    background: none;
    width: 100%;
    height: 26px;
    font-size: 14px;

}
.input-right .form-btn{
    width: 30px;
    height: 30px;
    margin-right: -10px;
    /*position: relative;
    top: -18px;
    right: 0px;*/
    position: absolute;
    top: 18px;
    right: 70px;
}
.icons-search{
    display: block;
    border: none;
    text-indent: -999px;
    background-color: transparent;
    background-position: -3px -372px;
    width: 18px;
    height: 18px;
}

.logo{
    width: 44px;
    height: 44px;
    display: block;
}
.icons-home{
    background-position: -3px -130px;
    width: 23px;
    height: 29px;
}

/****************排序导航****************/
.sort-nav{
    width:100%;
    padding-top: 5px;
    height: 45px;
}
.sort-nav .sort-nav-left{
    width: 100%;
    font-family: "Microsoft YaHei";
    font-weight: 200;
    height: 40px;
}
.sort-nav .sort-nav-right{
    width: 4%;
    padding-left: 10px;
}
.sort-nav .sort-nav-left .sort-nav-left-list{
    width: 100%;
    height: 40px;
}
.sort-nav .sort-nav-left .sort-nav-left-list li{
    float: left;
    width: 33.33%;
    text-align: center;
    background: white;
    height: 40px;
    line-height: 40px;
}
.sort-nav .sort-nav-left .sort-nav-left-list .comprehensive{
    background-image:url("../img/search/triangle2.png");
    background-repeat: no-repeat;
    background-size: 6px 5px;
    background-position: 85% center;
}
.sort-nav .sort-nav-left .sort-nav-left-list .comprehensive2{
    background-image:url("../img/search/triangle.png");
    background-repeat: no-repeat;
    background-size: 6px 5px;
    background-position: 85% center;
}
.text-click{
    color: #f50;
}
.sort-nav .sort-nav-left .comprehensive-uls{
    position: relative;

    z-index: 999;
}
.sort-nav .sort-nav-left .comprehensive-uls .backdrop-content{
    padding-right: 30px;
    background: white;
}
.sort-nav .sort-nav-left .comprehensive-uls .backdrop-content .sort-nav-left-list-uls{
    width: 100%;
    height: auto;
    position: relative;
    top: -10px;
}
.icons-checked{
    position: absolute;
    right: 20px;
    top: 15px;
    background-image: url("../img/search/icons.png");
    background-position: -3px -435px;
    width: 13px;
    height: 10px;
}
.sort-nav .sort-nav-left .comprehensive-uls .backdrop-content .sort-nav-left-list-uls li{
    clear: left;
    width:100%;
    margin-left: 28px;
    position: relative;
    border-bottom: solid 1px #c8c7cc;
    height: 40px;
    line-height: 40px;
}
#comprehensive-uls{
    display: none;
}
.sort-nav .sort-nav-left .comprehensive-uls .backdrop{
    position: absolute;
    left: 0;
    width: 100%;
    height: 710px;
    background: #000;
    opacity: 0.7;
    z-index: 103;
}
/*****************主体内容***********************/
section .content-list li{
    min-height: 80px;
    padding: 12px 6px;
    border-bottom: 1px solid #dbdbdb;
    position: relative
}
section .content-list li .content-list-item{
    width: 100%;
    height: 100px;
}
section .content-list li .content-list-item .content-img{
    text-align: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-left: 8px;
}
section .content-list li .content-list-item .content-img a{
    line-height: 79px;
    display: inline-block;
    position: relative;
}
section .content-list li .content-list-item .content-img img{
    width: 100px;
    height: 100px;
}
section .content-list li .content-list-item .content-img .img-logo{
    background-image: url("../img/search/img-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

section .content-list li .content-list-item div{
    float: left;
}
section .content-list li .content-list-item .content-information{
    margin: 4px 15px 6px 0;
    -webkit-box-flex: 1;
    width: 230px;
}
section .content-list li .content-list-item .content-information a h3{
    line-height: 22px;
    margin-bottom: 3px;
    position: relative;
    overflow: hidden;
    color: #4b566a;
    font-size: 14px;
    height: 44px;
}
section .content-list li .content-list-item .content-information p{
    line-height: 24px;
    color: #e50000;
}
section .content-list li .content-list-item .content-information .content-main{
    margin-top: -1px;
    height: 20px;
    overflow: hidden;
}
section .content-list li .content-list-item .content-information .content-main span{
    font-size: 12px;
    overflow: hidden;
}
/**************底部查看客户端链接****************/
.client{
    background-color: rgba(66,66,74,0.96);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 68px;
    width: 100%;
    z-index: 1000;
    font-size: 14px;
}
.client-close{
    background: url("../img/search/close.png") no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.p-text{
    margin: 0;
    padding: 20px 10px 0 10px;
    display: -webkit-box;
    height: 32px;
    overflow: hidden;
    -webkit-box-align: center;
}

.p-text .photo{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
}
.p-text .photo img{
    width: 100%;
    height: 100%;
}
.p-text span{
    -webkit-box-flex: 1;
    display: block;
    margin: 0 12px;
    line-height: 120%;
    color: white;
    font-family: "Microsoft YaHei";
}
.p-text-btn{
    display: block;
    color: #3d4245;
    background-color: #e5e5e5;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 12px;
    font-weight: normal;
}
/*********************返回顶部********************/
.gotop {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 41px;
    height: 41px;
    background: rgba(0,0,0,0.7);
}
.icons-gotop{
    margin-top: 13px;
    margin-left: 12px;
    background-image: url("../img/search/icons.png");
    background-position: -3px -396px;
    width: 16px;
    height: 16px;
}